@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
:root [data-theme='wintry']  {
    --theme-font-family-base: 'Chakra Petch', sans-serif;
    --theme-font-family-heading: 'IBM Plex Sans Thai', sans-serif;
}

